<nav>
  <ul>
    <li><a [routerLink]="['/home']" [class.active]="isButtonActive('/home')">Home</a></li>
    <li><a [routerLink]="['/resume']" [class.active]="isButtonActive('/resume')">My Resume</a></li>
    <li><a [routerLink]="['/bio']" [class.active]="isButtonActive('/bio')">Bio</a></li>
    <li><a [routerLink]="['/projects']" [class.active]="isButtonActive('/projects')">Projects</a></li>
    <li><a [routerLink]="['/objective']" [class.active]="isButtonActive('/objective')">Objective</a></li>
  </ul>
</nav>

