.home-container {
  background-color: #a5a99d; /* Light gray background color */
  height: 100vh; /* 100% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-container {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap; /* Allow content to wrap to the next line */
}
/* Style for the left column */
.left-column {
  flex: 1; /* Allow the left column to take available space */
  text-align: left;
  padding-right: 20px; /* Adjust the padding as needed */
  box-sizing: border-box;
}
/* Style for the rounded photo */
.rounded-photo {
  width: 500px; /* Adjust the size as needed */
  height: 500px; /* Adjust the size as needed */
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}

.rounded-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* To maintain the round shape */
}
/* Style for the right column */
.right-column {
  flex: 1; /* Allow the right column to take available space */
  text-align: left;
  padding-left: 20px; /* Adjust the padding as needed */
  box-sizing: border-box;
}
/* Style for the bottom paragraph */
.bottom-paragraph {
  width: 100%; /* Make the paragraph take up the full width */
  text-align: center; /* Center the text */
  padding: 20px 0; /* Adjust the padding as needed */
}
