
<div class="home-container">
  <div class="content-container">
    <div class="left-column">
      <p>
        You're probably expecting a professionally taken photo, complete with tie and jacket, or at least a polo shirt. That's not me. I'm a mechanic, I do production, I design and invent things. I fix existing things.
I'm in the market to do things, to solve problems, not pose for the cover of Board Member Monthly. Bear with me, because there's more than meets the eye here.
      </p>
    </div>
  <div class="rounded-photo">
    <img src=".\assets\Photos\IMG_9058.jpg" alt="IMG_9058.jpg">
  </div>
  <div class="right-column">
    <p>
      I'm setting up this page with a combination of my own knowlege, and the assistance of AI. If tool assistance concerns you, please step aside. That's what we do as humans, and AI is just another tool.
The purpose of this page is to showcase who I am and what I do, not just demonstrate my disdain for antequated recruiting methods. I actually am personable, but I would like to filter out any potential waste of my time.
If you're still with me, click through and check out the contents.
    </p>
  </div>
  <div class="bottom-paragraph">
    <p>
      This site is a work in progress, so content will be modified or added as time goes. This will include photo updates that may look more clean cut, or possibly something resembling a pre-concert selfie. Who knows?
    </p>
  </div>
</div>
</div>
